.header {
    padding: 15px 10px;
    position: fixed;
    width: 100%;
    z-index: 100;
    transition: 0.3s;
    background-color: #fff;
    @media (max-width: 900px) {
        padding: 15px 30px;
    }
    @media (max-width: 500px) {
        padding: 12px 20px;
    }
    &--scroll {
        padding: 5px 10px;
        .menu__desktop-element--active {
            &::after {
                bottom: -21px !important;
            }
        }
    }
    &__container {
        max-width: 1340px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        position: relative;
    }
    &__img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        @media (max-width: 700px) {
            width: 92px;
            height: 92px;
        }
    }
    &__logo {
        flex: 0 0 140px;
        height: 50px;
        @media (max-width: 500px) {
            flex: 0 0 112px;
            height: 40px;
        }
    }
    &__acount {
        height: 24px;
        width: 24px;
        &-wrapper {
            flex-grow: 1;
            text-align: right;
            display: none;
            @media (max-width: 900px) {
                display: block;
            }
        }
    }
    .menu {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
        @media (max-width: 900px) {
            flex-grow: 0;
        }
        &--open {
            .menu__desktop {
                display: block;
                z-index: 100;
                padding: 20px 10px 0;
                height: 100%;
                @media (max-width: 900px) {
                    padding: 20px 32px 110px;
                }
                @media (max-width: 500px) {
                    padding: 20px 20px 110px;
                    top: 60px;
                    display: flex;
                    flex-direction: column;
                }
            }
            .header__button {
                display: inline-block;
                margin-top: 48px;
                font-size: 16px;
                line-height: 62px;
                height: 64px;
                padding: 0 40px;
                @media (max-width: 500px) {
                    margin: 0;
                    text-align: center;
                }
                &--first {
                    margin-left: 0;
                    @media (max-width: 500px) {
                        margin: 18px 0 8px 0;
                    }
                }
            }
            .menu__burger-line--first {
                top: 50%;
                transform: rotate(45deg);
            }
            .menu__burger-line--middle {
                left: -30px;
            }
            .menu__burger-line--last {
                bottom: 50%;
                transform: rotate(-45deg);
            }
            .menu__desktop-element {
                display: block;
                text-align: center;
                margin-left: 0;
                font-size: 24px;
                letter-spacing: 0.48px;
                line-height: 80px;
                border-bottom: 1px solid #e2d7c7;
                text-align: left;
                font-weight: 600;
                @media (max-width: 500px) {
                    font-size: 18px;
                    letter-spacing: 0.36px;
                    line-height: 55px;
                }
            }
        }
        &__burger {
            z-index: 100;
            width: 24px;
            height: 16px;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;
            overflow: hidden;
            position: relative;
            transition: 0.6s;
            display: none;
            @media (max-width: 900px) {
                display: flex;
                margin-left: 24px;
            }
            &-line {
                width: 100%;
                height: 2px;
                background-color: $mainColor;
                display: block;
                transition: 0.3s;
                position: absolute;
                &--first {
                    top: 0;
                }
                &--middle {
                    position: absolute;
                    top: 51%;
                    transform: translate(0, -50%);
                    left: 0;
                }
                &--last {
                    bottom: 0;
                }
            }
        }
        &__desktop {
            animation: 250ms linear 0s forwards alternate menu;
            @media (max-width: 900px) {
                position: fixed;
                display: none;
                top: 65px;
                right: 0;
                left: 0;
                background-color: #fff;
                z-index: 1000;
                overflow: auto;
            }
            &-element {
                font-weight: 600;
                margin-left: 30px;

                @media (max-width: 1200px) {
                    margin-left: 15px;
                }
                &--active {
                    position: relative;
                    &::after {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 3px;
                        background-color: var(--button-bg);
                        bottom: -30px;
                        left: 0;
                        transition: 0.3s;
                        @media (max-width: 900px) {
                            display: none;
                        }
                    }
                }

                &:hover {
                    color: var(--header-element-hover);
                }
            }
        }
    }
    &__button {
        margin-left: 8px;
        font-weight: 600;
        line-height: 34px;
        display: block;
        height: 36px;
        background-color: var(--button-bg);
        color: #fff;
        border-radius: 50px;
        padding: 0 20px;
        border: 1px solid var(--button-bg);
        @media (max-width: 900px) {
            display: none;
        }
        &--white {
            color: $mainColor;
            background-color: transparent;
            border-color: $mainColor;
            &:hover {
                background-color: var(--button-bg);
                color: #fff;
                border-color: var(--button-bg);
            }
        }
        &--first {
            margin-left: 30px;
            &:hover {
                background-color: transparent;
                color: $mainColor;
                border: 1px solid $mainColor;
            }
        }
    }
    &__user {
        display: flex;
        align-items: center;
        margin-left: 30px;
        @media (max-width: 1200px) {
            margin-left: 20px;
        }
        @media (max-width: 900px) {
            display: none;
        }
    }
    &__avatar {
        flex: 0 0 44px;
        height: 44px;
        margin-right: 10px;
    }
    &__name {
        flex: 0 0 165px;
        font-weight: 600;
        line-height: 20px;
    }
}
